<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="html, css, java">
    <meta name="description" content="Gerenciamento de Saúde Diária">
    <meta name="author" content="Ana Clarissi">

    <title>Gerenciamento de Saúde Diária</title>

    <link rel="stylesheet" href="../static/css/reset.css" th:href="@{css/reset.css}">

    <link rel="stylesheet" href="../static/css/crud-style.css" th:href="@{css/crud-style.css}">

</head>
<body>
    
    <main>

        <header>

            <section class="logo">

                <img th:src="@{images/logo.png}" alt="Logo do Site" class="logo-img">

            </section>

            <nav>

                <ul>

                    <li>
                        
                        <a href="#exercise">Exercicio</a>
                    
                    </li>
                    
                    <li>
                        
                        <a href="#meal">Refeição</a>
                    
                    </li>
                    
                    <li>
                        
                        <a href="#sleep">Sono</a>
                    
                    </li>
                    
                    <li>
                        
                        <a href="#">Relatório</a>
                    
                    </li>

                </ul>

            </nav>

        </header>

        <section class="content" id="exercise">

            <article>

                <h2>Exercícios</h2>

                <button class="btn-ad" onclick="openForm('exercise-form')">Adicionar Exercicio</button>

            </article>

            <table>

                <thead>

                    <tr>

                        <th>Data</th>

                        <th>exercício</th>

                        <th>Séries</th>

                        <th>Repetições</th>

                        <th>Carga</th>

                        <th>Tempo</th>

                        <th>Ações</th>

                    </tr>

                </thead>

                <tbody>

                    <tr th:each="exercise : ${exercises}">

                        <td th:text="${exercise.date}">Datas</td>
                        
                        <td th:text="${exercise.name}">Nome</td>
                        
                        <td th:text="${exercise.series}">Séries</td>
                        
                        <td th:text="${exercise.repetitions}">Repetições</td>
                        
                        <td th:text="${exercise.load}">Carga</td>
                        
                        <td th:text="${exercise.time}">Duração</td>

                        <td class="table-actions">

                            <a href="javascript:void(0);"
                            class="btn"
                            th:attr="data-id=${exercise.id},
                            data-date=${exercise.date},
                            data-name=${exercise.name},
                            data-series=${exercise.series},
                            data-repetitions=${exercise.repetitions},
                            data-load=${exercise.load},
                            data-time=${exercise.time}"
                            onclick="updateExercise(this)">Editar</a>
                            
                            <a th:href="@{'/exercise/delete/' + ${exercise.id}}" class="btn">Excluir</a>

                        </td>

                    </tr>

                </tbody>

            </table>

        </section>

        <section class="content" id="meal">

            <article>
                
                <h2>Refeições</h2>

                <button class="btn-ad" onclick="openForm('meal-form')">Adicionar Refeição</button>

            </article>

            <table>

                <thead>

                    <tr>

                        <th>Data</th>

                        <th>Tipo de refeição</th>

                        <th>Descrição</th>

                        <th>Calorias</th>  

                        <th>Ações</th>

                    </tr>

                </thead>

                <tbody>

                    <tr>

                        <td>Data</td>

                        <td>Tipo da Refeição</td>

                        <td>Descrição da Refeição</td>

                        <td>Calorias</td>

                        <td>

                            <a class="btn">Editar</a>

                            <a class="btn">Excluir</a>

                        </td>

                    </tr>

                </tbody>

            </table>

        </section>

        <section class="content" id="sleep">

            <article>

                <h2>Sono</h2>

                <button class="btn-ad" onclick="openForm('sleep-form')">Adicionar Registro de Sono</button>

            </article>

            <table>

                <thead>

                    <tr>

                        <th>Data</th>

                        <th>Quantidade de Horas</th>

                        <th>Qualidade</th>

                        <th>Ações</th>

                    </tr>

                </thead>

                <tbody>

                    <tr>

                        <td>Data</td>

                        <td>Quantidade de Horas</td>

                        <td>Qualidade</td>

                        <td>

                            <a class="btn">Editar</a>

                            <a class="btn">Excluir</a>

                        </td>

                    </tr>

                </tbody>
                
            </table>
        </section>

        <section class="form-popup" id="sleep-form">

            <form action="/sleep" method="post" class="form-container">

                <h2>Adicionar Registro de Sono</h2>
                    
                <label for="hoursSlept">Horas Dormidas:</label>
                <input type="number" id="hoursSlept" name="hoursSlept" required>
                    
                <label for="sleepQuality">Qualidade:</label>
                <input type="text" id="sleepQuality" name="sleepQuality" required>
                    
                <label for="sleepRegisterDate">Data:</label>
                <input type="date" id="sleepRegisterDate" name="registerDate" required>
            
                <button type="submit" class="btn">Salvar</button>
                <button type="button" class="btn cancel" onclick="closeForm('sleep-form')">Fechar</button>

            </form>

        </section>

        <section class="form-popup" id="exercise-form">

            <form action="/exercise/save" method="post" th:object="${exercise}" class="form-container">

                <h2 th:text="${exercise.id != null ? 'Editar Exercício' : 'Adicionar Exercício'}">Adicionar Exercício</h2>
        
                <label for="exerciseDate">Data:</label>
                <input type="date" id="exerciseDate" th:field="*{date}" required>

                <label for="exerciseName">Nome:</label>
                <input type="text" id="exerciseName" th:field="*{name}" required>
        
                <label for="exerciseSeries">Quantidade de Séries:</label>
                <input type="number" id="exerciseSeries" th:field="*{series}" required>
        
                <label for="exerciseRepetitions">Quantidade de Repetições:</label>
                <input type="number" id="exerciseRepetitions" th:field="*{repetitions}" required>
        
                <label for="exerciseLoad">Carga (kg):</label>
                <input type="number" id="exerciseLoad" th:field="*{load}" step="0.1" required>
        
                <label for="exerciseTime">Duração (min):</label>
                <input type="number" id="exerciseTime" th:field="*{time}" required>
        
                <button type="submit" class="btn">Salvar</button>
                <button type="button" class="btn cancel" onclick="closeForm('exercise-form')">Fechar</button>

            </form>

        </section>

        <section class="form-popup" id="meal-form">

            <form action="/meal" method="post" th:object="${meal}" class="form-container">

                <h2 th:text="${meal.id != null ? 'Editar Refeição' : 'Adicionar Refeição'}">Adicionar Refeição</h2>
        
                <label for="mealType">Tipo de Refeição:</label>
                <input type="text" id="mealType" th:field="*{type}" required>
                
                <label for="mealName">Descrição da Refeição:</label>
                <input type="text" id="mealName" th:field="*{name}" required>

        
                <label for="mealQuantity">Quantidade de Calorias:</label>
                <input type="number" id="mealQuantity" th:field="*{quantity}" required>
        
                <label for="mealRegisterDate">Data:</label>
                <input type="date" id="mealRegisterDate" th:field="*{registerDate}" required>
        
                <button type="submit" class="btn">Salvar</button>
                <button type="button" class="btn cancel" onclick="closeForm('meal-form')">Fechar</button>

            </form>

        </section>

        <section class="form-popup" id="update-exercise-form">

            <form method="post" class="form-container">

                <input type="hidden" id="id" name="id">
        
                <label for="updateExerciseDate">Data:</label>
                <input type="date" id="updateExerciseDate" name="date" required>
        
                <label for="updateExerciseName">Nome:</label>
                <input type="text" id="updateExerciseName" name="name" required>
        
                <label for="updateExerciseSeries">Quantidade de Séries:</label>
                <input type="number" id="updateExerciseSeries" name="series" required>
        
                <label for="updateExerciseRepetitions">Quantidade de Repetições:</label>
                <input type="number" id="updateExerciseRepetitions" name="repetitions" required>
        
                <label for="updateExerciseLoad">Carga (kg):</label>
                <input type="number" id="updateExerciseLoad" name="load" step="0.1" required>
        
                <label for="updateExerciseTime">Duração (min):</label>
                <input type="number" id="updateExerciseTime" name="time" required>
        
                <button type="submit" class="btn">Salvar</button>

                <button type="button" class="btn cancel" onclick="closeForm('update-exercise-form')">Cancelar</button>

            </form>

        </section>


    </main>

    <script th:src="@{js/script.js}"></script>

</body>
</html>
